body, html, div, section, ul, li, a{
    background: none;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img{
    margin: 1%;
}

body, html {
    height: 100%;
}

header {
    /* background: linear-gradient(rgb(100,50,50), rgb(80,20,20)) no-repeat; */
    height: 16em;
    width: 100%;
    position: absolute;
}

#backImg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slide 8s linear infinite 2s;
    animation-timing-function: ease-in-out;
    background-image: url('../img/webdeveloper.jpg');
}

@keyframes slide {
    0% {
        background-image: url('../img/me003.jpg');
    }

    25% {
        background-image: url('../img/webdeveloper.jpg');
    }
}

.header {
    margin: 0px;
    float: left;
    width: 80%;
}

/* navigation menu */
#toplabel {
    float: left;
    color: black;
    font-size: 28px;
    font-weight: bolder;
    margin-left: 10px;
}

#navbar {
    list-style-type: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
    overflow: hidden;
    float: left;
    background-color: transparent;
  }
  
  .navlist {
    float: left;
  }
  
  .navlist a {
    display: block;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navlist a:hover {
      color: chartreuse;
  }

/* search */

.searchFix {
    float: right;
    width: 200px;
    height: 50px;
}

.searchFix #mySearch {
    background-image: url('./css/sarching.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 11px;
    width: 80px;
    padding: 12px 10px 12px 30px;
    border: 1px solid #dddd;
    text-align: left;
    margin-top: 5px; 
}

    .searchFix #button {
        height: 38px;
        width: 60px;
        float: right;
        margin: 5px 10px 0 0;
        /* margin: -2.3rem 0.5rem 0 0; */
    }

#myUL{
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 5rem;
    width: 200px;
    height: 200px;
}
#myUL li a {
    border: 1px solid #dddd;
    margin: -1px;
    background-color: rgb(222, 184, 135);
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    color: rgb(78, 27, 27);
    display: block;
}
#myUL li a:hover:not(.header){
    background-color: rgb(239, 247, 255);
}

#myUL span {
    background-color: yellow;
}

#leftNote {
    width: 250px;
    height: 100px;
    margin: 4rem 0 0 5rem;
}

.leftNote {
    font: 10px;
    color: black;
}

/* Grid column */
section.wrapper {
    /* height: 500px; */
    margin-top: 14rem;
    width: 100%;
    /* float: left; */
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    margin: 10px;
    height: 500px;
  }
  
  .row {
      display: flex;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-gap: 10px;
    padding: 10px; */
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-row: 0 / 3;
  }

  .gridIn {
    width: 100%;
    height: 150px;
  }

  .gridImg {
      width: 200px;
      height: 100px;
      float: left;
  }

  .gridNote {
      color: crimson;
      font-size: 10px;
      justify-content: left;
      margin-top: 10px;
  }

  button {
      width: 70px;
      height: 20px;
      border-radius: 8%;
      background: rgba(0, 102, 128, 0.562);
      float: left;
      font-weight: bold;
      color: mintcream;
      border: none;
  }

  /* Sponsor content */
#logocontent {
    /* height: 40%; */
    border-bottom: 3px solid palevioletred;
    background: white;
    text-align: center;
    color: #050530d5; 
    font-style: italic;
    font-size: 30px;
}

#logo {
    height: 100%;
}

/* Footer */
#footer {
    height: 400px;
    background: #050530d5;
}

.columnfoot {
    float: left;
    width: 50%;
    /* padding: 10px; */
    height: 400px;
}

.footImg {
    width: 140px;
    height: 80px;
    margin-top: 50px;
}



#footerIcons {
    width: 260px;
    height: 100px;
    margin: 3em 0 0 0;
}

#footerIcons a i{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    margin: 0 5px 0 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    background: aliceblue;
    color: #050530d5;
    /* position the text on middle */
    line-height: 35px;
    /* make the font small */
    display: inline-block;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    #logo {
        height: 100vh;
    }
}

@media screen and (min-width: 375px) {  
    #logo {
        height: 40%;
    }

    #footer {
        height: 400px;
    }
}

@media only screen and (max-width: 768px) {

    header {
        height: 14em;
        width: 100%;
        position: absolute;
    }
    .header {
        display: none;
    }
    #imgGoS{
        width: 80px;
        height: 80px;
    }
    .topfix {
        height: 30px;
        width: 100%;
    }

    #logo {
        height: 50%;
    }

    #footer {
        height: 300px;
    }
}